/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-larris-contact-form {
	display: flex;
	flex-direction: column;
	background-color: #0a1128;
	color: #D9D9D9;
	padding: 30px;
	border: 1px solid #D9D9D9;
	border-radius: 5px;
}

* {
	box-sizing: border-box;
	margin:0;
	padding: 0;
}

.larris-contact-form__list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	

}

	
li.larris-contact-form__item {
	list-style: none ;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.larris-contact-form__label {
	font-size: 1.2rem;
	font-weight: 500;
}

.larris-contact-form__input {
	min-height: 30px;
	padding: 10px;
	font-size: 1.2rem;
	background-color: #D9D9D9;
}

.larris-contact-form__textarea {
	min-height: 150px;
	padding: 10px;
	font-size: 1.2rem;	
	background-color: #D9D9D9;

}

.button-form-container {
	padding: 20px 0;
}

.larris-contact-form-button {
	display:inline-block;
    padding: 12px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}


.larris-contact-form__form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}